<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HTML Injection Lab</title>
</head>
<body>
<h1>HTML Injection Lab</h1>
<ul>
<li><a href="/search?q=Hello">Reflected search demo</a></li>
<li><a href="/comments">Stored comments demo</a></li>
<li><a href="/dom-demo">DOM-based injection demo</a></li>
</ul>
</body>
</html>
